
        .fa-calendar-alt{
            color: #ffb53c;
            font-size: 1.2rem;
        }

        .fa-caret-up{
            color: #4a9f16;
            font-size: 1.5rem;
        }

        .fa-caret-down{
            color: #ff301d;
            font-size: 1.5rem;

        }