<!-- -*- coding: utf-8 -*- -->

<!--edited on 1400/11/27  02/16/2022-->

<!--@author: mahmoud esmaeili-->


{% extends "layout.html" %}
{% block content %}

<div class="about_us">
<section id="about" class="about">
    <section id="me" class="team section-bg" style="background: transparent">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>در باره ما؟</h2>
                <p></p>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12" data-aos="fade-up" data-aos-delay="100">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 member d-flex align-items-start">
                        <div class="pic-"><img class="rounded-circle p-1"
                                              src="/static/img/freelancer-02.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>محمود اسماعیلی</h4>
                            <span>فری لنسر</span>
                            <p>کارشناسی _ مهندسی کامپیوتر</p>
                            <div class="social">
                                <a href=""><span class="iconify" data-icon="logos:telegram"></span></a>
                                <a href=""><span class="iconify" data-icon="logos:whatsapp"></span></span></a>
                                <a href=""><span class="iconify" data-icon="ri:twitter-fill"></span></a>
                                <a href=""><span class="iconify" data-icon="ri:instagram-fill"
                                                 style="color: #d35349;"></span></a>
                                <a href=""><span class="iconify" data-icon="el:facebook"></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6 member d-flex align-items-start">
                        <div class="pic-"><img class="rounded-circle p-1" height="350"
                                              src="/static/img/freelancer-03-00.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4></h4>
                            <span></span>
                            <p></p>
                            <div class="social">
                                <a href=""><span class="iconify" data-icon="logos:telegram"></span></a>
                                <a href=""><span class="iconify" data-icon="logos:whatsapp"></span></span></a>
                                <a href=""><span class="iconify" data-icon="ri:twitter-fill"></span></a>
                                <a href=""><span class="iconify" data-icon="ri:instagram-fill"
                                                 style="color: #d35349;"></span></a>
                                <a href=""><span class="iconify" data-icon="el:facebook"></span></a>
                            </div>
                        </div>
                    </div>

                </div><!-- End row -->
            </div><!-- End col -->
        </div><!-- End container -->
    </section><!-- End me Section-->
</section><!-- End About Us Section -->
    
  <!-- ======= Site Section ======= -->
  <section id="sites" class="clients">
    <div class="container" data-aos="zoom-in">
      <div class="section-title">
        <h2>سایت های مرتبط</h2>
        <p>...</p>
      </div>
      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="../static/img/site-logo/tsetmc.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/site-logo/codal1.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/site-logo/FaraBourse.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/site-logo/talar.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/site-logo/kala.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/site-logo/enerjy.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/site-logo/Seporde.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/site-logo/Mali.jpg" class="img-fluid" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Clients Section -->

  <!-- ======= resource Section ======= -->
  <section id="resource" class="clients">
    <div class="container" data-aos="zoom-in">
      <div class="section-title">
        <h2>منابع و ابزار ها</h2>
        <p>...</p>
      </div>
      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="../static/img/resource-logo/Python.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/resource-logo/flask-python.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/resource-logo/pycharm.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/resource-logo/GitHub.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/resource-logo/web-scraping.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/resource-logo/se-buti.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/resource-logo/bootstrap-5.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/resource-logo/Jinja.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/resource-logo/javascript.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/resource-logo/jquery.jpg" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/resource-logo/HTML5_logo.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/resource-logo/CSS.3.svg.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/resource-logo/CodePen.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/resource-logo/font-awesome.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../static/img/resource-logo/W3Schools.png" class="img-fluid" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Clients Section -->
</div><!-- end of div class=about -->
{% endblock %}<!--end of block-->