
<!--# -*- coding: utf-8 -*- -->
<!--"""-->
<!--edited on 1400/11/26  02/15/2022-->

<!--@author: mahmoud esmaeili-->
<!--"""    -->
{% extends "layout.html" %}
{% block content %}
<!---------------------------------------نسبت pe صنعت یا گروه----------------------------------------->
<!----------------------------------------------pe chart ------------------------------------------->
<div class="pe_chart">
<!------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------->
<div class="col-sm-12">
<hr>
</div>
<!----------------------------------------------------------------------------------------------------->

    <!-------------------------نسبت قیمت به درآمد  در گروه1---------------------------------->
    <!------------------------------------------group cash flow  chart ok------------------------------------->
<section id="group1-pe-chart">
    <div class= "row text-center"><h4> نسبت قیمت به درآمد  در گروه:
        {{group_selected_items.get('group_name')[0]}} </h4>
        <div class ="col-sm-12col-md-12 col-lg-12">
            <div class="card chart-card">
                <div class="card-header">(میانگین پی بر ای گروه:
                    {{group_selected_items.get('group_pe_average')[0]}})
                    (  میانگین پی بر ای بازار:
                    {{market_average_pe[0]}}) </div>
                     <div class="chart chart-box no-padding">
                    <div id="myPlot61" class="responsive-plot" ></div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-----------------------------------------group cash flow  chart ok-------------------------------------->
    <!-------------------------نسبت قیمت به درآمد  در گروه1---------------------------------->
<!----------------------------------------------------------------------------------------------------->
<div class="col-sm-12">
<hr>
</div>
<!----------------------------------------------------------------------------------------------------->
    <!------------------------نسبت قیمت به درآمد  در گروه2----------------------------------->
    <!------------------------------------------group cash flow  chart ok------------------------------------->
<section id="group2-pe-chart">
<div class= "row text-center"><h4> نسبت قیمت به درآمد  در گروه:
    {{group_selected_items.get('group_name')[1]}} </h4>
    <div class ="col-sm-12col-md-12 col-lg-12">
        <div class="card chart-card">
            <div class="card-header">(میانگین پی بر ای گروه:
                    {{group_selected_items.get('group_pe_average')[1]}})
                    (  میانگین پی بر ای بازار:
                    {{market_average_pe[0]}}) </div>
            <div class="chart chart-box no-padding">
                <div id="myPlot62" class="responsive-plot" ></div>
            </div>
        </div>
    </div>
</div>
</section>
    <!-----------------------------------------group cash flow  chart ok-------------------------------------->
    <!------------------------نسبت قیمت به درآمد  در گروه2----------------------------------->
    <!----------------------------------------------------------------------------------------------------->
<div class="col-sm-12">
<hr>
</div>
<!----------------------------------------------------------------------------------------------------->
     <!------------------------نسبت قیمت به درآمد  در گروه3----------------------------------->
    <!------------------------------------------group cash flow  chart ok------------------------------------->
<section id="group3-pe-chart">
<div class= "row text-center"><h4>نسبت قیمت به درآمد  در گروه:
    {{group_selected_items.get('group_name')[2]}} </h4>
    <div class ="col-sm-12col-md-12 col-lg-12">
        <div class="card chart-card">
            <div class="card-header">(میانگین پی بر ای گروه:
                    {{group_selected_items.get('group_pe_average')[2]}})
                    (  میانگین پی بر ای بازار:
                    {{market_average_pe[0]}}) </div>
            <div class="chart chart-box no-padding">
                <div id="myPlot63" class="responsive-plot" ></div>
            </div>
        </div>
    </div>
</div>
</section>
    <!-----------------------------------------group cash flow  chart ok-------------------------------------->
    <!------------------------نسبت قیمت به درآمد  در گروه3----------------------------------->   <!----------------------------------------------------------------------------------------------------->
<div class="col-sm-12">
<hr>
</div>
<!----------------------------------------------------------------------------------------------------->
     <!------------------------نسبت قیمت به درآمد  در گروه4----------------------------------->
    <!------------------------------------------group cash flow  chart ok------------------------------------->
<section id="group4-pe-chart">
<div class= "row text-center"><h4> نسبت قیمت به درآمد  در گروه:
    {{group_selected_items.get('group_name')[3]}} </h4>
    <div class ="col-sm-12col-md-12 col-lg-12">
        <div class="card chart-card">
            <div class="card-header">(میانگین پی بر ای گروه:
                    {{group_selected_items.get('group_pe_average')[3]}})
                    (  میانگین پی بر ای بازار:
                    {{market_average_pe[0]}}) </div>
            <div class="chart chart-box no-padding">
                <div id="myPlot64" class="responsive-plot" ></div>
            </div>
        </div>
    </div>
</div>
</section>
    <!-----------------------------------------group cash flow  chart ok-------------------------------------->
    <!------------------------نسبت قیمت به درآمد  در گروه4----------------------------------->   <!----------------------------------------------------------------------------------------------------->
<div class="col-sm-12">
<hr>
</div>
<!----------------------------------------------------------------------------------------------------->
     <!-----------------------نسبت قیمت به درآمد  در گروه5----------------------------------->
    <!------------------------------------------group cash flow  chart ok------------------------------------->
<section id="group5-pe-chart">
<div class= "row text-center"><h4> نسبت قیمت به درآمد  در گروه:
    {{group_selected_items.get('group_name')[4]}} </h4>
    <div class ="col-sm-12col-md-12 col-lg-12">
        <div class="card chart-card">
            <div class="card-header">(میانگین پی بر ای گروه:
                    {{group_selected_items.get('group_pe_average')[4]}})
                    (  میانگین پی بر ای بازار:
                    {{market_average_pe[0]}}) </div>
            <div class="chart chart-box no-padding">
                <div id="myPlot65" class="responsive-plot" ></div>
            </div>
        </div>
    </div>
</div>
</section>
    <!-----------------------------------------group cash flow  chart ok-------------------------------------->
    <!----------------------نسبت قیمت به درآمد و جابجایی نقدینگی در گروه5----------------------------------->
<!----------------------------------------------------------------------------------------------------->
<div class="col-sm-12">
<hr>
</div>
<!----------------------------------------------------------------------------------------------------->

</div>
{% endblock %}<!--end of block-->