
<!--# -*- coding: utf-8 -*- -->
<!--"""-->
<!--edited on 1400/11/14  02/03/2022-->

<!--@author: mahmoud esmaeili-->
<!--"""    -->
{% extends "layout.html" %}
{% block content %}
<!---------------------------------------مثبت - منفی های گروه ها----------------------------------------->
<!----------------------------------------------neg-pos chart ------------------------------------------->
<div class="hot_money_chart">
<!------------------------------------------------------------------------------------------------------->
<section id="nav_bar">
<!--<nav class="navbar navbar-default visible-xs">-->
<!--<div class="container" >-->
<!--<div class="col-sm-12">-->

<!--<nav class="navbar fixed-top navbar-expand-lg ">-->
<nav class="navbar transparent navbar-inverse navbar-expand-md navbar-light fixed-top" id="nav-scroll" style="direction:rtl;">
    <div class="container-fluid">
        <a href="#" class="navbar-brand px-5">داشبورد آنالیز بازار</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mr-auto px-5">

                <a href="{{url_for('market_view')}}" class="nav-item nav-link">نمای بازارها</a>
                <a href="{{url_for('hot_money_chart')}}" class="nav-item nav-link">پول هوشمند بازار(چارت)</a>
                <a href="{{url_for('best_co_chart')}}" class="nav-item nav-link">برترین های صنعت و گروه(چارت)</a>
                <!--<a href="#group_01" class="nav-item nav-link">گروه1</a>-->

            </div>
            <!--<form class="d-flex ms-auto">-->
                <!--<input type="text" class="form-control me-sm-2" placeholder="Search">-->
                <!--<button type="submit" class="btn btn-outline-primary">Search</button>-->
            <!--</form>-->
        </div>
    </div>
</nav>
<!--</div>-->
<!--</div>-->
<!--</nav>-->
</section>
<!------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------->
<div class="col-sm-12">
    <hr>
</div>
<!----------------------------------------------------------------------------------------------------->
<!------------------------------------ نماد های مثبت و منفی گروه1----------------------------------------->
<!------------------------------------ negtive or posetive stock in group 1------------------------------->
<section id="neg-pos-chart-01">
    <div class= "row text-center"><h4> نماد های مثبت و منفی گروه:
        {{group_selected_items.get('group_name')[0]}}</h4>
        <div class ="col-sm-6 col-md-6 col-lg-6">
            <div class="card chart-card">
                <div class="card-header"> تعداد  نمادهای گروه:
                    {{group_selected_items.get('group_list')[0]|length}} </div>
                <div class="chart chart-box no-padding">
                    <div id="myPlot10" class="responsive-plot" ></div>
                </div>
            </div>
        </div>
        <div class ="col-sm-6 col-md-6 col-lg-6">
            <div class="card chart-card">
                <div class="card-header"> پراکندگی مثبت ومنفی گروه:
                    {{group_selected_items.get('group_name')[0]}} </div>
                <div class="chart chart-box no-padding">
                    <div id="myPlot11" class="responsive-plot" ></div>
                </div>
            </div>
        </div>
    </div>

</section>
<!------------------------------------- نماد های مثبت و منفی گروه1 -------------------------------------->
<!------------------------------------ negtive or posetive stock in group 1------------------------------->
<!----------------------------------------------------------------------------------------------------->
<div class="col-sm-12">
    <hr>
</div>
<!----------------------------------------------------------------------------------------------------->
<!------------------------------------ نماد های مثبت و منفی گروه2----------------------------------------->
<!------------------------------------ negtive or posetive stock in group 2------------------------------->
<section id="neg-pos-chart-02">
    <div class= "row text-center"><h4> نماد های مثبت و منفی گروه:
        {{group_selected_items.get('group_name')[1]}}</h4>
        <div class ="col-sm-6 col-md-6 col-lg-6">
            <div class="card chart-card">
                <div class="card-header"> تعداد  نمادهای گروه:
                    {{group_selected_items.get('group_list')[1]|length}} </div>
                <div class="chart chart-box no-padding">
                    <div id="myPlot12" class="responsive-plot" ></div>
                </div>
            </div>
        </div>
        <div class ="col-sm-6 col-md-6 col-lg-6">
            <div class="card chart-card">
                <div class="card-header"> پراکندگی مثبت ومنفی گروه:
                    {{group_selected_items.get('group_name')[1]}} </div>
                <div class="chart chart-box no-padding">
                    <div id="myPlot13" class="responsive-plot" ></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-------------------------------------- نماد های مثبت و منفی گروه2 -------------------------------------->
<!------------------------------------ negtive or posetive stock in group 2------------------------------->
<!----------------------------------------------------------------------------------------------------->
<div class="col-sm-12">
    <hr>
</div>
<!----------------------------------------------------------------------------------------------------->
<!------------------------------------ نماد های مثبت و منفی گروه3----------------------------------------->
<!------------------------------------ negtive or posetive stock in group 3------------------------------->
<section id="neg-pos-chart-03">
    <div class= "row text-center"><h4> نماد های مثبت و منفی گروه:
        {{group_selected_items.get('group_name')[2]}}</h4>
        <div class ="col-sm-6 col-md-6 col-lg-6">
            <div class="card chart-card">
                <div class="card-header"> تعداد  نمادهای گروه:
                    {{group_selected_items.get('group_list')[2]|length}} </div>
                <div class="chart chart-box no-padding">
                    <div id="myPlot14" class="responsive-plot" ></div>
                </div>
            </div>
        </div>
        <div class ="col-sm-6 col-md-6 col-lg-6">
            <div class="card chart-card">
                <div class="card-header"> پراکندگی مثبت ومنفی گروه:
                    {{group_selected_items.get('group_name')[2]}} </div>
                <div class="chart chart-box no-padding">
                    <div id="myPlot15" class="responsive-plot" ></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-------------------------------------- نماد های مثبت و منفی گروه3 -------------------------------------->
<!------------------------------------ negtive or posetive stock in group 3 ------------------------------>
<!----------------------------------------------------------------------------------------------------->
<div class="col-sm-12">
    <hr>
</div>
<!----------------------------------------------------------------------------------------------------->
<!------------------------------------ نماد های مثبت و منفی گروه4----------------------------------------->
<!------------------------------------ negtive or posetive stock in group 4------------------------------->
<section id="neg-pos-chart-04">
    <div class= "row text-center"><h4> نماد های مثبت و منفی گروه:
        {{group_selected_items.get('group_name')[3]}}</h4>
        <div class ="col-sm-6 col-md-6 col-lg-6">
            <div class="card chart-card">
                <div class="card-header"> تعداد نمادهای گروه:
                    {{group_selected_items.get('group_list')[3]|length}} </div>
                <div class="chart chart-box no-padding">
                    <div id="myPlot16" class="responsive-plot" ></div>
                </div>
            </div>
        </div>
        <div class ="col-sm-6 col-md-6 col-lg-6">
            <div class="card chart-card">
                <div class="card-header"> پراکندگی مثبت ومنفی گروه:
                    {{group_selected_items.get('group_name')[3]}} </div>
                <div class="chart chart-box no-padding">
                    <div id="myPlot17" class="responsive-plot" ></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-------------------------------------- نماد های مثبت و منفی گروه4 --------------------------------------->
<!------------------------------------ negtive or posetive stock in group 4-------------------------------->
<!----------------------------------------------------------------------------------------------------->
<div class="col-sm-12">
    <hr>
</div>
<!----------------------------------------------------------------------------------------------------->
<!------------------------------------ نماد های مثبت و منفی گروه 5----------------------------------------->
<!------------------------------------ negtive or posetive stock in group 5 ------------------------------->
<section id="neg-pos-chart-05">
    <div class= "row text-center"><h4> نماد های مثبت و منفی گروه:
        {{group_selected_items.get('group_name')[4]}}</h4>
        <div class ="col-sm-6 col-md-6 col-lg-6">
            <div class="card chart-card">
                <div class="card-header"> تعداد نمادهای گروه:
                    {{group_selected_items.get('group_list')[4]|length}} </div>
                <div class="chart chart-box no-padding">
                    <div id="myPlot18" class="responsive-plot" ></div>
                </div>
            </div>
        </div>
        <div class ="col-sm-6 col-md-6 col-lg-6">
            <div class="card chart-card">
                <div class="card-header"> پراکندگی مثبت ومنفی گروه:
                    {{group_selected_items.get('group_name')[4]}} </div>
                <div class="chart chart-box no-padding">
                    <div id="myPlot19" class="responsive-plot" ></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!------------------------------------- نماد های مثبت و منفی گروه 5 -------------------------------------->
<!------------------------------------ negtive or posetive stock in group 5------------------------------->
<!----------------------------------------------------------------------------------------------------->
<div class="col-sm-12">
    <hr>
</div>
<!----------------------------------------------------------------------------------------------------->

<!---------------------------------------مثبت - منفی های گروه ها----------------------------------------->
<!----------------------------------------------neg-pos chart ------------------------------------------->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/neg_pos_donut_chart.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scatter_chart.js') }}"></script>

<section id="neg-pos-donut-chart">
     <script type="text/javascript">
    var group1=[{{group_selected_items.get('group_posetive_percent')[0]|length}},
    {{group_selected_items.get('group_negetive_percent')[0]|length}}]
    var group2=[{{group_selected_items.get('group_posetive_percent')[1]|length}},
    {{group_selected_items.get('group_negetive_percent')[1]|length}}]
    var group3=[{{group_selected_items.get('group_posetive_percent')[2]|length}},
    {{group_selected_items.get('group_negetive_percent')[2]|length}}]
    var group4=[{{group_selected_items.get('group_posetive_percent')[3]|length}},
    {{group_selected_items.get('group_negetive_percent')[3]|length}}]
    var group5=[{{group_selected_items.get('group_posetive_percent')[4]|length}},
    {{group_selected_items.get('group_negetive_percent')[4]|length}}]

    donutChart(group1, "myPlot10");
    donutChart(group2, "myPlot12");
    donutChart(group3, "myPlot14");
    donutChart(group4, "myPlot16");
    donutChart(group5, "myPlot18");
</script>

</section>
<section id="neg-pos-scatter-chart">
    <script type="text/javascript">
        var g1list1 = [{% for i in range(group_selected_items.get('group_sort_list')[0]|length) %}
        '{{group_selected_items.get("group_sort_list")[0][i].get("symbol")}}', {% endfor %} ]
        var g1list2 = [{% for i in range(group_selected_items.get('group_sort_list')[0]|length) %}
        {{group_selected_items.get('group_sort_list')[0][i].get('last_percent')}}, {% endfor %} ]

        var g2list1 = [{% for i in range(group_selected_items.get('group_sort_list')[1]|length) %}
        '{{group_selected_items.get("group_sort_list")[1][i].get("symbol")}}', {% endfor %} ]
        var g2list2 = [{% for i in range(group_selected_items.get('group_sort_list')[1]|length) %}
        {{group_selected_items.get('group_sort_list')[1][i].get('last_percent')}}, {% endfor %} ]

        var g3list1 = [{% for i in range(group_selected_items.get('group_sort_list')[2]|length) %}
        '{{group_selected_items.get("group_sort_list")[2][i].get("symbol")}}', {% endfor %} ]
        var g3list2 = [{% for i in range(group_selected_items.get('group_sort_list')[2]|length) %}
        {{group_selected_items.get('group_sort_list')[2][i].get('last_percent')}}, {% endfor %} ]

        var g4list1 = [{% for i in range(group_selected_items.get('group_sort_list')[3]|length) %}
        '{{group_selected_items.get("group_sort_list")[3][i].get("symbol")}}', {% endfor %} ]
        var g4list2 = [{% for i in range(group_selected_items.get('group_sort_list')[3]|length) %}
        {{group_selected_items.get('group_sort_list')[3][i].get('last_percent')}}, {% endfor %} ]

        var g5list1 = [{% for i in range(group_selected_items.get('group_sort_list')[4]|length) %}
        '{{group_selected_items.get("group_sort_list")[4][i].get("symbol")}}', {% endfor %} ]
        var g5list2 = [{% for i in range(group_selected_items.get('group_sort_list')[4]|length) %}
        {{group_selected_items.get('group_sort_list')[4][i].get('last_percent')}}, {% endfor %} ]

        scatterChart(g1list1,g1list2,"myPlot11");
        scatterChart(g2list1,g2list2,"myPlot13");
        scatterChart(g3list1,g3list2,"myPlot15");
        scatterChart(g4list1,g4list2,"myPlot17");
        scatterChart(g5list1,g5list2,"myPlot19");

    </script>
</section>


</div>
{% endblock %}<!--end of block-->