
<!--# -*- coding: utf-8 -*- -->
<!--"""-->
<!--edited on 1400/11/14  02/03/2022-->

<!--@author: mahmoud esmaeili-->
<!--"""    -->
{% extends "layout.html" %}
{% block content %}
<!---------------------------------------نسبت pe صنعت یا گروه----------------------------------------->
<!----------------------------------------------pe chart ------------------------------------------->
<div class="pe_chart">
<!------------------------------------------------------------------------------------------------------->
<section id="nav_bar">
<!--<nav class="navbar navbar-default visible-xs">-->
<!--<div class="container" >-->
<!--<div class="col-sm-12">-->

<!--<nav class="navbar fixed-top navbar-expand-lg ">-->
<nav class="navbar transparent navbar-inverse navbar-expand-md navbar-light fixed-top" id="nav-scroll" style="direction:rtl;">
<div class="container-fluid">
    <a href="#" class="navbar-brand px-5">داشبورد آنالیز بازار</a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mr-auto px-5">

            <a href="{{url_for('market_view')}}" class="nav-item nav-link">نمای بازارها</a>
            <a href="{{url_for('best_co_chart')}}" class="nav-item nav-link">برترین های صنعت و گروه(چارت)</a>
            <a href="{{url_for('pe_table')}}" class="nav-item nav-link">نسبت قیمت به درآمد (جدول)</a>
            <!--<a href="#group_01" class="nav-item nav-link">گروه1</a>-->

        </div>
        <!--<form class="d-flex ms-auto">-->
            <!--<input type="text" class="form-control me-sm-2" placeholder="Search">-->
            <!--<button type="submit" class="btn btn-outline-primary">Search</button>-->
        <!--</form>-->
    </div>
</div>
</nav>
<!--</div>-->
<!--</div>-->
<!--</nav>-->
</section>
<!------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------->
<div class="col-sm-12">
<hr>
</div>
<!----------------------------------------------------------------------------------------------------->

    <!-------------------------نسبت قیمت به درآمد  در گروه1---------------------------------->
    <!------------------------------------------group cash flow  chart ok------------------------------------->
<section id="group1-pe-chart">
    <div class= "row text-center"><h4> نسبت قیمت به درآمد  در گروه:
        {{group_selected_items.get('group_name')[0]}} </h4>
        <div class ="col-sm-12col-md-12 col-lg-12">
            <div class="card chart-card">
                <div class="card-header">(میانگین پی بر ای گروه:
                    {{group_selected_items.get('group_pe_average')[0]}})
                    (  میانگین پی بر ای بازار:
                    {{market_average_pe[0]}}) </div>
                     <div class="chart chart-box no-padding">
                    <div id="myPlot61" class="responsive-plot" ></div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-----------------------------------------group cash flow  chart ok-------------------------------------->
    <!-------------------------نسبت قیمت به درآمد  در گروه1---------------------------------->
<!----------------------------------------------------------------------------------------------------->
<div class="col-sm-12">
<hr>
</div>
<!----------------------------------------------------------------------------------------------------->
    <!------------------------نسبت قیمت به درآمد  در گروه2----------------------------------->
    <!------------------------------------------group cash flow  chart ok------------------------------------->
<section id="group2-pe-chart">
<div class= "row text-center"><h4> نسبت قیمت به درآمد  در گروه:
    {{group_selected_items.get('group_name')[1]}} </h4>
    <div class ="col-sm-12col-md-12 col-lg-12">
        <div class="card chart-card">
            <div class="card-header">(میانگین پی بر ای گروه:
                    {{group_selected_items.get('group_pe_average')[1]}})
                    (  میانگین پی بر ای بازار:
                    {{market_average_pe[0]}}) </div>
            <div class="chart chart-box no-padding">
                <div id="myPlot62" class="responsive-plot" ></div>
            </div>
        </div>
    </div>
</div>
</section>
    <!-----------------------------------------group cash flow  chart ok-------------------------------------->
    <!------------------------نسبت قیمت به درآمد  در گروه2----------------------------------->
    <!----------------------------------------------------------------------------------------------------->
<div class="col-sm-12">
<hr>
</div>
<!----------------------------------------------------------------------------------------------------->
     <!------------------------نسبت قیمت به درآمد  در گروه3----------------------------------->
    <!------------------------------------------group cash flow  chart ok------------------------------------->
<section id="group3-pe-chart">
<div class= "row text-center"><h4>نسبت قیمت به درآمد  در گروه:
    {{group_selected_items.get('group_name')[2]}} </h4>
    <div class ="col-sm-12col-md-12 col-lg-12">
        <div class="card chart-card">
            <div class="card-header">(میانگین پی بر ای گروه:
                    {{group_selected_items.get('group_pe_average')[2]}})
                    (  میانگین پی بر ای بازار:
                    {{market_average_pe[0]}}) </div>
            <div class="chart chart-box no-padding">
                <div id="myPlot63" class="responsive-plot" ></div>
            </div>
        </div>
    </div>
</div>
</section>
    <!-----------------------------------------group cash flow  chart ok-------------------------------------->
    <!------------------------نسبت قیمت به درآمد  در گروه3----------------------------------->   <!----------------------------------------------------------------------------------------------------->
<div class="col-sm-12">
<hr>
</div>
<!----------------------------------------------------------------------------------------------------->
     <!------------------------نسبت قیمت به درآمد  در گروه4----------------------------------->
    <!------------------------------------------group cash flow  chart ok------------------------------------->
<section id="group4-pe-chart">
<div class= "row text-center"><h4> نسبت قیمت به درآمد  در گروه:
    {{group_selected_items.get('group_name')[3]}} </h4>
    <div class ="col-sm-12col-md-12 col-lg-12">
        <div class="card chart-card">
            <div class="card-header">(میانگین پی بر ای گروه:
                    {{group_selected_items.get('group_pe_average')[3]}})
                    (  میانگین پی بر ای بازار:
                    {{market_average_pe[0]}}) </div>
            <div class="chart chart-box no-padding">
                <div id="myPlot64" class="responsive-plot" ></div>
            </div>
        </div>
    </div>
</div>
</section>
    <!-----------------------------------------group cash flow  chart ok-------------------------------------->
    <!------------------------نسبت قیمت به درآمد  در گروه4----------------------------------->   <!----------------------------------------------------------------------------------------------------->
<div class="col-sm-12">
<hr>
</div>
<!----------------------------------------------------------------------------------------------------->
     <!-----------------------نسبت قیمت به درآمد  در گروه5----------------------------------->
    <!------------------------------------------group cash flow  chart ok------------------------------------->
<section id="group5-pe-chart">
<div class= "row text-center"><h4> نسبت قیمت به درآمد  در گروه:
    {{group_selected_items.get('group_name')[4]}} </h4>
    <div class ="col-sm-12col-md-12 col-lg-12">
        <div class="card chart-card">
            <div class="card-header">(میانگین پی بر ای گروه:
                    {{group_selected_items.get('group_pe_average')[4]}})
                    (  میانگین پی بر ای بازار:
                    {{market_average_pe[0]}}) </div>
            <div class="chart chart-box no-padding">
                <div id="myPlot65" class="responsive-plot" ></div>
            </div>
        </div>
    </div>
</div>
</section>
    <!-----------------------------------------group cash flow  chart ok-------------------------------------->
    <!----------------------نسبت قیمت به درآمد و جابجایی نقدینگی در گروه5----------------------------------->
<!----------------------------------------------------------------------------------------------------->
<div class="col-sm-12">
<hr>
</div>
<!----------------------------------------------------------------------------------------------------->

</div>
{% endblock %}<!--end of block-->